@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.body {
    background-color: #111015;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    margin: 26px 24px 0 24px;
    height: 50px;
}

.header__navigation {
    display: flex;    
    align-items: center;      
}

.header__left {
    margin-right: 262px;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 14px;
}

.header__geolocation {
    align-items: center;
    display: flex;
    gap: 10px;
}

.header__link-text {
    font-family: 'Montserrat', sans-serif;
    width: 400;
    font-size: 16px;
    color: #FEFEFE;
}

.header__search {
    display: flex;
    gap: 10px;
    background-color: #1E1E1E;
    width: 492px;
    height: 46px;
    border-radius: 10px;
    align-items: center;
}

.header__search-image {
    margin-left: 29px;
    height: 24px;
    width: 24px;
}

.header__search-text {
    font-family: 'Montserrat', sans-serif;
    width: 400;
    font-size: 14px;
    color: #EDEDED;
}

.header__right {
    margin-left: 155px;
}

.theme {
    width: 115px;
    height: 46px;
    box-sizing: border-box;
    background-color: #19191B;
    border: 1px solid #626161;
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.theme__circle {
    height: 40px;
    padding: 0 4px 0 4px;
}

.theme__circle-image {
    height: 40px;
    width: 40px;
}

.switch-theme__input {
    /* display: none; */
}

.switch-theme {
    display: flex;
    align-items: center;
    width: 115px;
    height: 46px;
    padding: 0 4px 0 4px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #19191B;
    border: 1px solid #626161;
}

.switch-theme__input {
    appearance: none;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.switch-theme__input:checked {
    transform: translateX(66px);
    background-color: rgb(75, 75, 255);
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

/* .switch-theme__slider {
    width: 115px;
    height: 46px;
    border-radius: 20px;
    background-color: red;
}

.switch-theme__slider::before {
    margin-left: 4px;
    height: 40px;
    width: 40px;
    background-color: black;
}

.switch-theme__input:checked {
    height: 40px;
    width: 40px;
    background-color: white;
} */